* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
}
body {
	font: normal 12px/1.1 'Open Sans', sans-serif;
	background-color: #FFF;
}
.container {
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
header {
	background: #EFEFEF;
	height: auto;
	overflow: hidden;
	padding: 5%;
}
#droid {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	overflow: hidden;
	display: block;
	background: url("http://img.lum.dolimg.com/v1/images/protocol_droid_6ddeb574.jpeg?region=243%2C0%2C1447%2C814&width=768") no-repeat -60px 0;
	background-size: auto 100%;
	float: left;
}
hgroup {
	float: left;
	height: 100px;
	margin-left: 20px;
}

hgroup h1, hgroup h2 {
	line-height: 50px;
}

hgroup h1 {
	font-size: 3rem;
	color: #371F8F;
}

hgroup h2 {
	font-size: 1.5rem;
	font-weight: lighter;
	color: #666;
}

hgroup h2 strong {
	font-weight: bold;
	color: #B62790;
}

aside {
	margin-top: 10px;
}

aside h3 {
	line-height: 40px;
	font-size: 1.3rem;
	font-weight: normal;
	padding-bottom: 5px;
	color: #371F8F;
	border-bottom: 1px solid #B62790;
	margin-bottom: 20px;
}

aside textarea {
	width: 98%; height: auto;
	min-height: 300px;
	border: 1px solid #CCC;
	max-width: 98%; max-height: 300px;
	min-width: 98%;
	margin-bottom: 10px;
	padding: 1%;
	font: normal .8rem/1.1 'Open Sans', sans-serif;
}

aside h3 button {
	float: right;
	height: 30px;
	margin: 5px 1% 0;
	border-radius: 4px;
	width: auto;
	padding: 0 1%;
	border: none;
	color: #FFF;
	font-weight: lighter;
	font-size: .9rem;
}

aside h3 button:nth-child(3) {
	margin-right: 0;
	background: linear-gradient(to bottom,  red 0%, #F46161 60%);;
}

aside h3 button:nth-child(1) {
	margin-right: 0;
	background: linear-gradient(to bottom,  #b62790 0%,#b567a0 100%);
}

aside h3 button:nth-child(2) {
	margin-right: 0;
	background: linear-gradient(to bottom,  #371f8f 0%,#61558e 100%);
}

/*main #preview { display: none; }*/

main .preview div {
	height: 500px;
	overflow: scroll;
	border: 1px solid #CCC;
	margin-bottom: 10px;
}

main h3 {
	line-height: 40px;
	font-size: 1.3rem;
	font-weight: normal;
	padding-bottom: 5px;
	color: #371F8F;
	border-bottom: 1px solid #B62790;
	margin-bottom: 20px;
}

main .code textarea {
	width: 100%; height: auto;
	min-height: 300px;
	border: 1px solid #CCC;
	max-width: 100%; max-height: 300px;
	min-width: 100%;
	margin-bottom: 10px;
}

footer {
	background: #EFEFEF;
	height: auto;
	overflow: hidden;
	padding: 1%;
}

footer p {
	text-align: center;
	font-size: .7rem;
	line-height: 23px;
}